/* 
* @Author: Jouhe
* @Date:   2018-08-09 09:55:56
* @Last Modified time: 2018-08-13 16:43:39
*/
 html,body{
    margin:0;
    padding:0;
}

/*header*/
.header{
    width: 100%;
}
.header-nav{
    width: 100%;
    height: 60px;
    border:0px;
    background-color:#444444; 
}
.header-cont{
    width: 100%;
    height: 85px;
    border:0px;
    background-color:#444444; 
    position: relative;    
    z-index: 1;  
    text-align: center;     
}

.profile-pho{
    height:160px;
    width:160px;
    border: 10px solid #ffffff;
    border-radius:50%;
    background-image:url("../img/profile-photo.jpg"); 
    background-repeat: no-repeat;
    background-position:-32px -8px;
    margin-top: 10px;
}
.header-ft{
    width: 100%;
    height: 240px;
    border:0px;
    background-color:#ffffff; 
    position: relative;
    border-top:1px solid #E5E5E5;
    border-bottom:1px solid #E5E5E5;     
}
.chsSign{
    display: block;
    font-family: "楷体";
    font-size: 30px;
}           
.engSign{
    display: block;
    font-family: Segoe Script;
    font-size: 26px;
}
.detail{
    display: block;
    font-family: "楷体";
    font-size: 26px;
}
.info{
    height: auto;
    width:500px;
    color:#404040;
    position: absolute;
    top:5px;
    left:38%;
}

.info a {
    color: black;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    margin-left: 8px;
    font-size: 16px;
}


/*container*/
.wrapper {
    padding-top: 40px;
    padding-bottom: 30px;
}

@media (min-width: 768px)
.container {
    width: 750px;
}

@media (min-width: 992px)
.container {
    width: 970px;
}

@media (min-width: 1200px)
.container {
    width: 1170px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color:#F6F6F6; 
}


/*section*/
.section {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    padding: 45px;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.section-title {
    margin-top: 0;
    margin-bottom: 45px;
    font-size: 24px;
    text-align: center;
}

.portfolio-section .filters {
  list-style: none;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
}

.portfolio-section .filters .type {
  margin-right: 30px;
  list-style: none;
  display: inline-block;
  padding: 8px 15px;
  color: #8a8a8a;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.portfolio-section .filters .type:last-child {
  margin-right: 0;
}

.portfolio-section .filters .type.active {
  color: #1E90FF;
  border-bottom: 2px solid #1E90FF;
}

@media (min-width: 768px)
.iframeContent {
    height: 700px;
}

@media (min-width: 992px)
.iframeContent {
    height: 800px;
}

@media (min-width: 1200px)
.iframeContent {
    height: 900px;
}

.iframeContent {
    height: 900px;
    border: 0px;
    margin:0;
    padding: 0;
}

